
<!doctype html>
<html lang="en">
  <head>
    <title>Horizon</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png">

    <link rel="stylesheet" href="../static/css/custom-bs.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/fonts/line-icons/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/timer.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="#">Horizon</a>
          </div>
        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="home-section section-hero overlay bg-image" style="background-image: url('../static/images/hero_1.jpg');" id="home-section">
      <div class="container">
      <br><br>
        <div class="align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <div id="app" style="margin-top: 15px"></div>
              <div style="margin-bottom: 50px">
              <h1 class="text-white font-weight-bold" >Round-1: Aptitute Test</h1>
              </div>
              <div style="display: inline-block;">
              <form action="login" method="post" class="p-4 border rounded"  style="background-color: rgb(206, 240, 240); ">
                <div class="row form-group text-black" style="font-size:21px">
                <div style="position:relative;">
               1)   56% of Y is 182. What is sadifjlkasjdflkljjasl;dkfj;lkj;lksadjf;lkj;lkj;lkkkdldklsfkksdlfkjjolaseji3noosooswjwofjawdoojasodowooenn iiweirj4ii4jeiwjawefawefawefawefawefawefawefawefwaefawefaweY?  
                      <br>
                <input type="radio" name="q1" value="Nochange">Harshita is maha chutiya</input>
                <input type="radio" name="q1" value="10min">10 min</input>
                
                <input type="radio" name="q1" value="Nochange">Harshita is chutiya</input>
                <input type="radio" name="q1" value="10min">10 min</input>
                
              
                </div>
                
      
                
                
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    



    

  </div>

    <!-- SCRIPTS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/timer.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/stickyfill.min.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>

    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.animateNumber.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>

    <script src="../static/js/bootstrap-select.min.js"></script>

    <script src="../static/js/custom.js"></script>

    </section>
</div>
  </body>

</html>